/ {
	leds {
		user_led: led_user {
			gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
			label = "User LED";
		};
	};

	aliases {
		my-led = &user_led;
	};

	ts4231_n1: ts4231_n1 {
		compatible = "lighthouse_robot,ts4231";
		e-gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
		d-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
		label = "TS4231 N1";
	};

	ts4231_n2: ts4231_n2 {
		compatible = "lighthouse_robot,ts4231";
		e-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		d-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		label = "TS4231 N2";
	};

	ts4231_n3: ts4231_n3 {
		compatible = "lighthouse_robot,ts4231";
		e-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
		d-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
		label = "TS4231 N3";
	};
};
